---
layout: default
---
<div class="post">

  {% if page.banner_image %}
  <div class="banner-image">
    <img
        src="{{ "/assets/images/" | append: page.banner_image | prepend: site.baseurl | prepend: site.url }}"
        alt="{{ page.banner_image_alt }}">
  </div>
  {% endif %}

  {% if page.banner_video %}
    <div class="banner_video">
      {{ page.banner_video }}
    </div>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
    {% if page.categories.size > 0 %}
      <span class="categories">
      {{ page.categories | array_to_sentence_string }}
      </span> |
    {% endif %}
    <span class="post-date">
    {{ page.date | date: "%b %-d, %Y" }}

    {% if page.author %}
      {% if page.author.name %} • {{ page.author.name }}{% endif %}
    {% endif %}

    {% if page.meta %} • {{ page.meta }}{% endif %}
    </span>
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if site.related_posts %}
    <div class="related-posts">
      <h4>Related Posts</h4>
      <ul>
        {% for post in site.related_posts limit:3 %}
          <li>
            <h5>
              <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h5>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="author-info">
    <div class="author">
      <a href="{{ page.author.url || '#' }}">
        <img class="gravatar" src="{{ page.author.email | to_gravatar }}?s=68"
          alt="{{ page.author.name }}" width="60" height="60" />
      </a>
      <h5>Author</h4>
      <h6>
        <a href="{{ page.author.url }}">
          {{ page.author.name }}
        </a>
      </h5>
      <p>
        {% if page.author.twitter or page.author.github %}
          Find me on
          {% if page.author.twitter %}
              <a title="{{ page.author.name }} on Twitter"
                  href="https://twitter.com/{{ page.author.twitter }}"
                  class="twitter" target="_blank">Twitter</a>
            {% if page.author.github %}
              /
            {% endif %}
          {% endif %}
          {% if page.author.github %}
              <a title="{{ page.author.name }} on Github"
                  href="https://github.com/{{ page.author.github }}"
                  class="github" target="_blank">Github</a>
          {% endif %}
        {% endif %}
      </p>
    </div>

    {% if site.theme.show_share_buttons %}
      {% include share-buttons.html %}
    {% endif %}
  </div>

  {% if site.comments %}
    <div class="comments">
        <a href="javascript:;" class="load-view">View Comments...</a>
        <div id="disqus_thread"></div>
        <div id="g-comments"></div>
    </div>
  {% endif %}


  <div class="books">
    <h4>Recommended Books</h4>

    <p>
      You might consider the following books, each of which comes recommended by Vim Tricks contributors. In particular, <a target="_blank"  href="https://www.amazon.com/gp/product/1680501275/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1680501275&linkCode=as2&tag=zah8phei3em3n-20&linkId=33f41c4e8c341d26f2b17709d84a16e2">Practical Vim</a>
      is a great resource with a useful format, filled with many essential Vim tricks and tips. It was written by <a href="http://drewneil.com/">Drew Neil</a> of <a href="http://vimcasts.org/">Vimcasts</a> fame, with introduction by legendary Vim plugin writer <a href="http://tpo.pe/">Tim Pope</a>.
    </p>

    <div class="row">

      <span class="book">
        <a target="_blank"  href="https://www.amazon.com/gp/product/1680501275/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1680501275&linkCode=as2&tag=zah8phei3em3n-20&linkId=33f41c4e8c341d26f2b17709d84a16e2">
          <img border="0" src="https://d188rgcu4zozwl.cloudfront.net/content/B018T6ZVPK/resources/2060608629" >
        </a>
        <img src="//ir-na.amazon-adsystem.com/e/ir?t=zah8phei3em3n-20&l=am2&o=1&a=1680501275" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </span>

      <span class="book">
        <a href="https://www.amazon.com/Learning-Vim-Editors-Processing-Maximum/dp/059652983X/ref=as_li_ss_il?ie=UTF8&qid=1494805840&sr=8-2&keywords=vim+books&linkCode=li3&tag=zah8phei3em3n-20&linkId=669121784193dd8c3616c086fa677a53" target="_blank">
          <img border="0" src="https://images-na.ssl-images-amazon.com/images/I/51rwk%2B4aT8L._SX383_BO1,204,203,200_.jpg" >
        </a>
        <img src="https://ir-na.amazon-adsystem.com/e/ir?t=zah8phei3em3n-20&l=li3&o=1&a=059652983X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </span>

      <span class="book">
        <a href="https://www.amazon.com/gp/product/1449392172/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=zah8phei3em3n-20&linkId=1eba8e2e33b9b9f8bc7b4d0341ddc937" target="_blank">
          <img border="0" src="https://images-na.ssl-images-amazon.com/images/I/41kE1nJEzvL._SX307_BO1,204,203,200_.jpg" >
        </a>
        <img src="https://ir-na.amazon-adsystem.com/e/ir?t=zah8phei3em3n-20&l=li3&o=1&a=1449392172" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </span>

      <span class="book">
        <a href="https://www.amazon.com/Learn-Enough-Text-Editor-Dangerous-ebook/dp/B01M10FNYJ/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=zah8phei3em3n-20&linkId=b25d35e5c26ec0e1b511de46ed0e39e9" target="_blank">
          <img border="0" src="https://images-na.ssl-images-amazon.com/images/I/41cT0dQ4Q3L.jpg">
        </a>
        <img src="https://ir-na.amazon-adsystem.com/e/ir?t=zah8phei3em3n-20&l=li3&o=1&a=B01M10FNYJ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </span>

    </div>

    <p class="disclaimer">Book links include Amazon affiliate attribution which helps support Vim Tricks. Thank you.</p>
  </div>
</div>
